/*
 CSS that needs to be loaded on first paint
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  padding: 50px;
}

a {
  padding-right: 10px;
}

form {
  padding-top: 40px;
}

input {
  margin-left: 10px;
}

button {
  border: none;
  background-color: #fff;
  padding: 10px 0 0 0;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
