/*
 CSS that needs to be loaded on first paint
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  padding: 50px;
  background-color: #4b6a48;
}

a {
  padding-right: 10px;
}

form {
  padding-top: 40px;
}

input {
  margin-left: 10px;
}

button {
  margin-left: 10px;
}
